---
import Layout from "../layouts/Layout.astro";
import LeaderCard from "../components/LeaderCard.astro";
// need to change title and header content for this page
---

<Layout title="Leadership">
    <section class="about">
        <h2>Our Team</h2>
        <!-- <p>
            Building and competing with a solar car is a complex process that
            combines diverse knowledge and skills. At Badger Solar Racing, over
            20 teams collaborate in tandem to design, construct, and race a
            single solar car
        </p> -->
        <h2>Directors</h2>
        <div class="team-members">
            <LeaderCard
                name="Jack Verich"
                email="jverich@wisc.edu"
                role="President"
                imageURL="src/assets/people_imgs/Jack_Verich.jpeg"
            />
            <LeaderCard
                name="Ryan Van Elles"
                email="rvanells@wisc.edu"
                role="Electrical Director"
                imageURL="src/assets/people_imgs/Ryan_Van_Ells.jpeg"
            />
            <LeaderCard
                name="Nishil Patel"
                email="nbpatel2@wisc.edu"
                role="Operations Director"
                imageURL="src/assets/people_imgs/Nishil_Patel.jpeg"
            />
            <LeaderCard
                name="Evan Alexander"
                email="eralexander@wisc.edu"
                role="Mechanical Director"
                imageURL="src/assets/people_imgs/Evan_Alexander.jpeg"
            />
        </div>
    </section>
</Layout>

<style>
    .team-members {
        display: flex;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;
        opacity: 1;
    }

    .about {
        position: relative;
        text-align: center;
        margin: 100px 0;
        padding: 50px 50px;
        background-color: #000000;
    }

    .about h2 {
        font-size: 2rem;
        margin-bottom: 20px;
        opacity: 1;
    }

    .about p {
        font-size: 1rem;
        color: #ccc;
        margin-bottom: 30px;
        max-width: 600px;
        opacity: 1;
    }

    /* Fade effect for text */
    .about h2,
    .about p {
        transition:
            opacity 0.5s ease-out,
            transform 0.5s ease-out;
    }
</style>
