---
import Layout from "../layouts/Layout.astro";
// need to change title and header content for this page
---

<Layout title="Leadership">
    <section class="about">
        <h2>Our Team</h2>
        <!-- <p>
            Building and competing with a solar car is a complex process that
            combines diverse knowledge and skills. At Badger Solar Racing, over
            20 teams collaborate in tandem to design, construct, and race a
            single solar car
        </p> -->
        <h2>Directors</h2>
        <div class="team-members">
            <div class="member">
                <img src="src/assets/Jack_Verich.jpeg" alt="Team Member" />
                <h3>Jack Verich</h3>
                <p>President</p>
            </div>
            <div class="member">
                <img src="src/assets/Ryan_Louis.jpeg" alt="Team Member" />
                <h3>Ryan Van Elles</h3>
                <p>Electrical Director</p>
            </div>
            <div class="member">
                <img src="src/assets/Nishil_Patel.jpeg" alt="Team Member" />
                <h3>Nishil Patel</h3>
                <p>Operations Director</p>
            </div>
        </div>
    </section>
</Layout>
