---
import Layout from "../layouts/Layout.astro";
// need to change title and header content for this page
---

<Layout>
    <section class="section-animate bg-car-1"></section>
    <div class="section-inner-center">
        <h3 id="carname">Helios</h3>
        <p id="cartext">
            Car 1 Helios is designed to be aerodynamic and energy efficient.
        </p>
    </div>
    <div class="stats">
        <div>
            <span class="counter" data-target="64">13</span>
            <h4>Top Speed</h4>
            mph
        </div>
        <div>
            <span class="counter" data-target="32">5</span>
            <h4>Fastest Lap</h4>
            sec
        </div>
        <div>
            <span class="counter" data-target="332">200</span>
            <h4>Total Range</h4>
            miles
        </div>
    </div>
</Layout>
