---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

// need to change title and header content for this page
---

<Layout>
    <section class="about">
        <h2>Meet the Team</h2>
        <div class="team-members">
            <div class="member">
                <img src="src/assets/Jack_Verich.jpeg" alt="Team Member">
                <h3>John Doe</h3>
                <p>Team Lead</p>
            </div>
            <div class="member">
                <img src="src/assets/Jack_Verich.jpeg" alt="Team Member">
                <h3>Jane Smith</h3>
                <p>Mechanical Engineer</p>
            </div>
            <div class="member">
                <img src="src/assets/Jack_Verich.jpeg" alt="Team Member">
                <h3>Alex Johnson</h3>
                <p>Software Engineer</p>
            </div>
        </div>
    </section>
</Layout>



