---
import Layout from "../layouts/Layout.astro";
// need to change title and header content for this page
---

<Layout title="Overview">
    <section class="overview team"></section>
    <section class="overview operations"></section>
    <section class="overview mechanical"></section>
    <section class="overview electrical">
        <div class="department">
            <h1>Electrical</h1>
            <p>
                Meetings and Work Sessions: Every Tuesday 6-9 pm in ME 1245
                Description: Our Electrical team is responsible for all custom
                hardware on the vehicle. It’s projects span from a custom MPPT
                that achieves 97% efficiency to a 5 kWh lithium-ion battery pack
                manufactured on campus and everything in between.
            </p>
        </div>
        <div class="department">
            <h1>Software & Firmware</h1>
            <p>Meetings and Work Sessions: Every Wednesday 6-9 pm in ME 1245</p>
        </div>
        <div class="department">
            <h1>Mechanical</h1>
            <p>Meetings and Work Sessions: Every Tuesday 6-9 pm in ME 1235</p>
        </div>
        <div class="department">
            <h1>Operations</h1>
            <p>Meetings and Work Sessions: Every Tuesday 6-9 pm in ME 1255</p>
        </div>
        <img src="src/assets/overview_map.png" />
    </section>
</Layout>

<style>
    .overview {
        position: relative;
        text-align: center;
        padding: 50px 50px;
        /* I dont know what the css above actually does */

        background-size: cover;
        background-position: center;
    }

    .team {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
            url("/src/assets/car_imgs/our_team.jpg");
    }
    .operations {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
            url("/src/assets/bsrCarBgUgly.jpg");
    }

    .mechanical {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
            url("/src/assets/bsrCarBgUgly1.jpg");
    }

    .electrical {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
            url("/src/assets/bsrCarBgUgly2.jpg");
    }

    .department {
        padding: 20px;
        margin: 20px;
    }

    .overview img {
        width: 700px;
    }
</style>
