---
import Layout from "../layouts/Layout.astro";
import LeaderCard from "../components/LeaderCard.astro";

// need to change title and header content for this page
---

<Layout title="Overview">
  <section class="overview team">
    <div class="description">
      <h1>Our Team</h1>
      <p>
        With over 70 members across 15 subteams, Badger Solar Racing is leading
        innovation at UW-Madison. Our work covers all aspects of the design,
        manufacturing, and testing of solar vehicles. We provide unparalleled
        opportunities for hands-on experience, technical skill development, and
        leadership growth, empowering our members to excel both on and off the
        track
      </p>
    </div>

    <div class="leadership">
      <LeaderCard
        name="Jack Verich"
        email="jverich@wisc.edu"
        role="President"
        imageURL="src/assets/lead_headshots/Jack_Verich.jpeg"
      />
      <p><strong>Industry Relations:</strong> Amit Hegde</p>
      <p><strong>Vehicle Logistics:</strong> Neel Shah</p>
    </div>
  </section>
  <section class="overview operations">
    <div class="description">
      <h1>Operations</h1>
      <p>
        Meetings and Work Sessions:<br />
        Every Tuesday 6–9 pm in Mechanical Engineering Building | Room Number: 1255
      </p>
    </div>
    <div class="leadership">
      <LeaderCard
        name="Nishil Patel"
        email="nbpatel2@wisc.edu"
        role="Operations Director"
        imageURL="src/assets/lead_headshots/Nishil_Patel.jpeg"
      />
      <p><strong>Industry Relations:</strong> Amit Hegde</p>
      <p><strong>Vehicle Logistics:</strong> Neel Shah</p>
    </div>
  </section>
  <section class="overview mechanical">
    <div class="description">
      <h1>Mechanical</h1>
      <p>
        Meetings and Work Sessions: <br />
        Every Tuesday 6-9 pm in Mechanical Engineering Building | Room Number: 1235
      </p>
    </div>
    <div class="leadership">
      <LeaderCard
        name="Evan Alexander"
        email="eralexander@wisc.edu"
        role="Mechanical Director"
        imageURL="src/assets/lead_headshots/Evan_Alexander.jpeg"
      />
      <p><strong>Body:</strong> Maanik Chawla</p>
      <p><strong>Structures:</strong> Devansh Kumaria</p>
      <p><strong>Composites:</strong> Emma Hellen</p>
      <p><strong>Vehicle Dynamics:</strong> Alex Nealy</p>
      <p><strong>Mechatronics:</strong> Audric Buslim</p>
      <p><strong>Braking:</strong> Owen Wagner</p>
      <p><strong>Suspension:</strong> Landen Heim</p>
    </div>
  </section>
  <section class="overview electrical">
    <div class="description">
      <h1>Electrical</h1>
      <p>
        Meetings and Work Sessions:<br />
        Every Tuesday 6-9 pm in the Mechanical Engineering Building | Room Number:
        1245
        <br />
        <br />

        Description: Our Electrical team is responsible for all custom hardware
        on the vehicle. It’s projects span from a custom MPPT that achieves 97%
        efficiency to a 5 kWh lithium-ion battery pack manufactured on campus
        and everything in between.
      </p>
    </div>
    <div class="leadership">
      <LeaderCard
        name="Ryan Van Elles"
        email="rvanells@wisc.edu"
        role="Electrical Director"
        imageURL="src/assets/lead_headshots/Ryan_Van_Ells.jpeg"
      />
      <p><strong>Battery:</strong> William LaCroix</p>
      <p><strong>Solar Array:</strong> Sarah Gerovac</p>
      <p><strong>Powertrain:</strong> Sukriti Somvanshi</p>
      <p><strong>Low Voltage:</strong> Charlie Steimke</p>
      <p><strong>Software:</strong> Hailey Andersen</p>
      <p><strong>Firmware:</strong> Bowen Quan</p>
      <p><strong>Race Strategy:</strong> Harry Luo</p>
    </div>
  </section>
</Layout>

<style>
  .overview {
    position: relative;
    padding-top: clamp(3rem, 9vw, 8rem);
    padding-left: clamp(1rem, 2vw, 8rem);
    padding-right: clamp(1rem, 2vw, 8rem);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: clamp(1.5rem, 10vw, 5rem);
  }

  .description {
    padding: 10px;
    margin: 10px;
  }

  .description p {
    padding: clamp(0.2rem, 4vw, 3rem);
    /* line-height: clamp(1rem, 3vw, 3rem); */
    font-size: clamp(0.2rem, 2vw, 1rem);
    background-color: rgba(60, 60, 60, 0.5);
    border-radius: 20px;
  }

  .leadership {
    display: flex;
    flex-direction: row;
  }
  .leadership p {
    font-size: clamp(0.2rem, 2vw, 1rem);
  }

  .team {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/src/assets/about_page_imgs/our_team.jpg");
  }
  .operations {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/src/assets/about_page_imgs/operations.jpg");
  }

  .mechanical {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/src/assets/about_page_imgs/mechE.jpg");
  }

  .electrical {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("src/assets/car_imgs/off_car1_4.jpg");
  }

  .overview img {
    width: 700px;
  }

  @media (min-width: 768px) {
    .overview {
      flex-direction: row;
      justify-content: space-between;
    }
    .description {
      width: 40%;
    }
    .leadership {
      flex-direction: column;
    }
  }
</style>
