---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sponsors">
    <section class="sponsors">
        <h1>Thank you to our sponsors for supporting our vision</h1>
        <div class="sponsor-block varsity">
            <h2>Varsity</h2>
            <img src="/src/assets/sponsor_imgs/Hoffeman_Logo.png" />
            <img src="/src/assets/sponsor_imgs/Altium-1.png" />
            <img src="/src/assets/sponsor_imgs/Siemens_no_bg.png" />
        </div>
        <div class="sponsor-block gold">
            <h2>Gold</h2>
            <img src="/src/assets/sponsor_imgs/Maxeon_Logo.png" />
        </div>
        <div class="sponsor-block bronze">
            <h2>Bronze</h2>
            <img
                src="/src/assets/sponsor_imgs/College_of_Engineering_Logo.jpg"
            />
            <img src="/src/assets/sponsor_imgs/generac-blue-logo.jpg" />
            <img src="/src/assets/sponsor_imgs/xes-logo.png" />
        </div>
    </section>
</Layout>

<style>
    .sponsors {
        position: relative;
        text-align: center;
        margin: 100px 0;
        padding: 50px 50px;
        background-color: #000000;
    }
    .sponsor-block {
        width: 500px;
        height: 200px;
    }

    .sponsor-block img {
        width: 100px;
    }
    .varsity {
        background-color: Crimson;
    }
    .gold {
        background-color: Gold;
    }
    .bronze {
        background-color: BlanchedAlmond;
    }
</style>
