---
const { name, email, role, imageURL } = Astro.props;
---

<div class="member">
  <img src={imageURL} alt="Team Member" />
  <h3>{name}</h3>
  <h3>{email}</h3>
  <h3>{role}</h3>
</div>

<style>
  .img {
    padding: 10px;
  }
  .member {
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: clamp(8rem, 40vw, 20rem);
    justify-content: center;
    align-items: center;
  }
  .member img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
  }

  .member h3 {
    margin: 10px 0 5px;
    font-size: clamp(0.5rem, 2vw, 2rem);
    color: #ffffff;
  }

  /* .member:hover {
        transform: scale(1.05);
    } */
</style>
