---
import "../styles/style.css";
import logo from "../assets/solar_logos/logo.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/script.js" defer></script>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Badger Solar</title>
  </head>
  <body>
    <div id="overlay"></div>
    <div id="mobile-menu" class="mobile-main-menu">
      <ul>
        <!-- <li class="mobile-only"><a href="car2.html">Car 2</a></li> -->
        <li class="mobile-only">
          <a href="/sponsors">Sponsors</a>
        </li>
        <li class="mobile-only">
          <a href="/about">Team Overview</a>
        </li>
        <li class="mobile-only"><a href="/contact">Contact</a></li>
        <!-- add other menu items here that are only in here -->
        <!-- <li><a href="car2.html">blog</a></li>
        <li><a href="car2.html">join</a></li> -->
      </ul>
    </div>
    <header id="header" role="navigation">
      <!-- <div class="official-logo">
        <a href="/">
          <img src={logo.src} alt="Badger Solar" />
        </a>
      </div> -->

      <div class="official-logo">
        <a href="/" id="logo-link">
          <svg viewBox="0 0 2592 1336">
            <path
              id="bsr_logo"
              d="M1204.7,1006.34c442.1,70.2,887.04,55.56,1334.7,60.97-679.66,67.22-1732.39,61.06-2360.96-196.05C.58,812.36-2.79,588.73,170.53,525.08c132.04-58.4,277.85-71.77,420.1-82.5,109.31,4.7,221.52-7.99,330.35,6.18,50.89,9.31-19.53-59.21,9.69-100.31,142.78-197.86,620.69-115.45,766.59,54.73,76.71,73.33-35.5,136.69,37.83,140.61,248.67,46.07,499.24,95.1,740.63,172.12-573.69-81.83-1235.66-237.63-1847.19-138.01-137.95,19.32-283.5,150.22-105.59,245.45,207.59,112.58,452.28,139.12,681.57,182.97M1134.45,283.19c-71.21,14.48-196.79,80.48-148.51,161.4,58.19,19.24,125.24,14.54,187.5,23.14,166.4,15.24,333,46.55,498.07,63.53,99.31-208.31-396.81-290.43-536.88-248.11M686.88,894.01c.53.72,3,.72,3.48-.1.14-.84-3.82-.87-3.48.1Z"
              fill="#fdfdfd"></path>

            <!-- //+++++=== -->
            <path
              id="W_logo"
              d="M583.58,707.36c34.52-23.01,69.04-46.03,92.05-80.55,23.01-34.52,34.52-69.04,34.52-115.07,0-80.55-23.01-149.59-80.55-195.62-57.53-46.03-126.58-69.04-218.63-69.04H42.76v955.07h379.73c92.05,0,161.1-23.01,218.63-69.04,46.03-46.03,80.55-115.07,80.55-207.12s0-92.05-34.52-138.08c-23.01-34.52-57.53-69.04-103.56-80.55ZM226.87,408.18h172.6c46.03,0,69.04,0,92.05,34.52,23.01,23.01,34.52,46.03,34.52,92.05s0,69.04-34.52,80.55c-34.52,11.51-57.53,34.52-92.05,34.52h-172.6s0-241.64,0-241.64ZM503.03,1006.54c-23.01,23.01-57.53,34.52-92.05,34.52h-184.11v-253.15h184.11c46.03,0,80.55,0,92.05,34.52,23.01,23.01,34.52,46.03,34.52,92.05s0,69.04-34.52,92.05ZM1216.46,649.83l-103.56-23.01c-46.03,0-80.55-23.01-103.56-46.03-23.01-23.01-34.52-46.03-34.52-80.55s11.51-69.04,34.52-92.05c23.01-23.01,57.53-34.52,103.56-34.52s80.55,0,103.56,34.52c23.01,23.01,34.52,57.53,34.52,103.56h172.6c0-92.05-34.52-161.1-92.05-207.12-57.53-46.03-126.58-69.04-218.63-69.04s-172.6,23.01-230.14,80.55c-57.53,57.53-92.05,126.58-92.05,207.12,0,149.59,80.55,241.64,253.15,264.66h92.05c46.03,23.01,80.55,34.52,92.05,57.53,23.01,23.01,34.52,46.03,34.52,80.55,0,80.55-46.03,126.58-149.59,126.58s-92.05,0-115.07-34.52c-23.01-34.52-46.03-57.53-46.03-115.07h-172.6c0,92.05,34.52,172.6,92.05,218.63,57.53,46.03,138.08,80.55,241.64,80.55s184.11-23.01,253.15-80.55c57.53-46.03,92.05-126.58,92.05-218.63,0-149.59-80.55-241.64-241.64-264.66v11.51ZM2194.54,695.85c34.52-46.03,46.03-92.05,46.03-161.1s-23.01-161.1-80.55-207.12c-57.53-46.03-126.58-80.55-218.63-80.55h-356.71v955.07h184.11v-391.23h138.08l184.11,391.23h207.12l-207.12-414.25c57.53-23.01,92.05-57.53,126.58-92.05h-23.01ZM2021.94,626.81c-23.01,23.01-57.53,34.52-103.56,34.52h-172.6v-253.15h172.6c46.03,0,69.04,11.51,103.56,34.52,23.01,23.01,34.52,57.53,34.52,92.05s-11.51,69.04-34.52,92.05ZM2367.14,1018.05h184.11v184.11h-184.11v-184.11ZM2528.24,879.96l34.52-632.88h-195.62l34.52,632.88h126.58Z"
              fill="#fdfdfd"
              visibility="hidden"></path>
          </svg>
        </a>
      </div>

      <script>
        import { gsap } from "gsap";
        import { MorphSVGPlugin } from "gsap/MorphSVGPlugin";

        gsap.registerPlugin(MorphSVGPlugin);

        const logoLink = document.querySelector("#logo-link");

        logoLink?.addEventListener("mouseenter", () => {
          gsap.to("#bsr_logo", {
            duration: 0.5,
            morphSVG: "#W_logo",
            ease: "power2.inOut",
          });
        });

        logoLink?.addEventListener("mouseleave", () => {
          gsap.to("#bsr_logo", {
            duration: 0.5,
            morphSVG: "#bsr_logo",
            ease: "power2.inOut",
          });
        });
      </script>

      <nav id="navigation">
        <ul>
          <!-- <li><a href="car2.html">Car 2</a></li> -->
          <li><a href="/about">Team Overview</a></li>
          <li><a href="/sponsors">Sponsors</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <button id="menu-btn" class="hamburger" type="button">
        <span class="hamburger-top"></span>
        <span class="hamburger-middle"></span>
        <span class="hamburger-bottom"></span>
      </button>
    </header>

    <!-- Section A -->
    <slot />
    <!-- End Section A -->
    <footer class="footer">
      <ul>
        <li><a href="index.html">&copy; Badger Solar Racing</a></li>
        <li>
          <a href="https://www.instagram.com/badgersolarracing/" target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a href="https://www.facebook.com/badgersolarracing/" target="_blank"
            >Facebook</a
          >
        </li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </footer>
  </body>
  <script>
    const menu_btn = document.getElementById("menu-btn")!;
    const overlay = document.getElementById("overlay")!;
    const side_menu = document.getElementById("mobile-menu")!;
    const navbar = document.getElementById("header")!; // Get the navbar

    const navToggle = () => {
      menu_btn.classList.toggle("open");
      overlay.classList.toggle("overlay-show");
      document.body.classList.toggle("no-scroll");
      side_menu.classList.toggle("show-menu");
    };
    menu_btn.addEventListener("click", navToggle);

    window.addEventListener("scroll", () => {
      let currentScroll =
        window.pageYOffset || document.documentElement.scrollTop;

      if (currentScroll > lastScrollTop) {
        // Scrolling down
        navbar.classList.add("hide-navbar");
      } else {
        // Scrolling up
        navbar.classList.remove("hide-navbar");
      }

      // Update lastScrollTop to the current scroll position
      lastScrollTop = currentScroll <= 0 ? 0 : currentScroll;
    });
  </script>
</html>

<style>
  #wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
  }

  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    padding: 0 30px;
    transition: top 0.3s;
  }

  #header.hide-navbar {
    top: -100px; /* Adjust based on the height of your navbar */
  }

  .official-logo {
    width: clamp(3rem, 15vw, 6rem);
    height: auto;
  }
  .official-logo img {
    display: block;
    width: 100%;
    height: auto;
  }

  #navigation {
    display: none;
  }

  #navigation ul {
    display: flex;
  }

  #navigation ul li {
    position: relative;
    margin-right: 20px;
    padding-bottom: 2px;
    font-size: clamp(0.2rem, 2vw, 0.9rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #navigation ul li a::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }

  #navigation ul li a:hover::after {
    transform: scaleX(1);
    transition: transform 0.5s;
  }

  .mobile-only {
    display: none;
  }

  .mobile-main-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    background: #000;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }

  .mobile-main-menu.show-menu {
    transform: translateX(0);
  }

  .mobile-main-menu ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 50px;
    width: 100%;
  }

  .mobile-main-menu ul li {
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px #555 dotted;
    width: 100%;
    text-align: right;
    padding-bottom: 8px;
  }

  .mobile-main-menu ul li a {
    color: #fff;
    transition: color 0.5s;
  }

  .mobile-main-menu ul li a:hover {
    color: #aaa;
  }

  .hamburger {
    position: relative;
    top: 0px;
    right: 0px;
    z-index: 10;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    width: 20px;
    height: 2px;
    top: 0;
    left: 0;
    background: #fff;
    transition: all 0.5s;
  }

  .hamburger-middle {
    transform: translateY(5px);
  }

  .hamburger-bottom {
    transform: translateY(10px);
  }

  .open .hamburger {
    transform: rotate(45deg);
  }

  .open .hamburger-top {
    transform: translateY(-5px);
  }

  .open .hamburger-middle {
    transform: translateY(5px);
  }

  .open .hamburger-bottom {
    transform: translateY(15px);
  }

  .footer {
    position: relative;
    padding: 55px 0;
  }

  .footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer ul li {
    margin-right: 20px;
    color: #aaa;
    text-transform: uppercase;
    font-size: clamp(0.5rem, 1vw, 1rem);
    line-height: 2.5;
  }

  .footer ul li a {
    color: #fff;
    transition: color 0.5s;
  }

  .footer ul li a:hover {
    color: #aaa;
  }

  .overlay-show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 3;
  }

  .no-scroll {
    overflow: hidden;
  }

  @media (min-width: 768px) {
    .hamburger {
      display: none;
    }
    #navigation {
      display: block;
    }
  }

  @media (max-width: 960px) {
    .mobile-only {
      display: block;
    }
  }
  @media (max-width: 600px) {
    .main-menu ul li {
      margin-right: 10px;
    }
  }
</style>
