---
import "../styles/style.css";
import logo from "../assets/solar_logos/logo.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/script.js" defer></script>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Badger Solar</title>
  </head>
  <body>
    <div id="overlay"></div>
    <div id="mobile-menu" class="mobile-main-menu">
      <ul>
        <!-- <li class="mobile-only"><a href="car2.html">Car 2</a></li> -->
        <li class="mobile-only">
          <a href="/sponsors">Sponsors</a>
        </li>
        <li class="mobile-only">
          <a href="/about">Team Overview</a>
        </li>
        <li class="mobile-only"><a href="/contact">Contact</a></li>
        <!-- add other menu items here that are only in here -->
        <!-- <li><a href="car2.html">blog</a></li>
        <li><a href="car2.html">join</a></li> -->
      </ul>
    </div>
    <header id="header" role="navigation">
      <div class="official-logo">
        <a href="/">
          <img src={logo.src} alt=" Badger Solar" />
        </a>
      </div>
      <nav id="navigation">
        <ul>
          <!-- <li><a href="car2.html">Car 2</a></li> -->
          <li><a href="/about">Team Overview</a></li>
          <li><a href="/sponsors">Sponsors</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <button id="menu-btn" class="hamburger" type="button">
        <span class="hamburger-top"></span>
        <span class="hamburger-middle"></span>
        <span class="hamburger-bottom"></span>
      </button>
    </header>

    <!-- Section A -->
    <slot />
    <!-- End Section A -->
    <footer class="footer">
      <ul>
        <li><a href="index.html">&copy; Badger Solar Racing</a></li>
        <li>
          <a href="https://www.instagram.com/badgersolarracing/" target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a href="https://www.facebook.com/badgersolarracing/" target="_blank"
            >Facebook</a
          >
        </li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </footer>
  </body>
  <script>
    const menu_btn = document.getElementById("menu-btn")!;
    const overlay = document.getElementById("overlay")!;
    const side_menu = document.getElementById("mobile-menu")!;
    const navbar = document.getElementById("header")!; // Get the navbar

    const navToggle = () => {
      menu_btn.classList.toggle("open");
      overlay.classList.toggle("overlay-show");
      document.body.classList.toggle("no-scroll");
      side_menu.classList.toggle("show-menu");
    };
    menu_btn.addEventListener("click", navToggle);

    window.addEventListener("scroll", () => {
      let currentScroll =
        window.pageYOffset || document.documentElement.scrollTop;

      if (currentScroll > lastScrollTop) {
        // Scrolling down
        navbar.classList.add("hide-navbar");
      } else {
        // Scrolling up
        navbar.classList.remove("hide-navbar");
      }

      // Update lastScrollTop to the current scroll position
      lastScrollTop = currentScroll <= 0 ? 0 : currentScroll;
    });
  </script>
</html>

<style>
  #wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
  }

  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    padding: 0 30px;
    transition: top 0.3s;
  }

  #header.hide-navbar {
    top: -100px; /* Adjust based on the height of your navbar */
  }

  .official-logo {
    width: clamp(6rem, 10vw, 9rem);
    height: auto;
  }
  .official-logo img {
    display: block;
    width: 100%;
    height: auto;
  }

  #navigation {
    display: none;
  }

  #navigation ul {
    display: flex;
  }

  #navigation ul li {
    position: relative;
    margin-right: 20px;
    padding-bottom: 2px;
    font-size: clamp(0.2rem, 2vw, 0.9rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #navigation ul li a::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }

  #navigation ul li a:hover::after {
    transform: scaleX(1);
    transition: transform 0.5s;
  }

  .mobile-only {
    display: none;
  }

  .mobile-main-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    background: #000;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }

  .mobile-main-menu.show-menu {
    transform: translateX(0);
  }

  .mobile-main-menu ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 50px;
    width: 100%;
  }

  .mobile-main-menu ul li {
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px #555 dotted;
    width: 100%;
    text-align: right;
    padding-bottom: 8px;
  }

  .mobile-main-menu ul li a {
    color: #fff;
    transition: color 0.5s;
  }

  .mobile-main-menu ul li a:hover {
    color: #aaa;
  }

  .hamburger {
    position: relative;
    top: 0px;
    right: 0px;
    z-index: 10;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    width: 20px;
    height: 2px;
    top: 0;
    left: 0;
    background: #fff;
    transition: all 0.5s;
  }

  .hamburger-middle {
    transform: translateY(5px);
  }

  .hamburger-bottom {
    transform: translateY(10px);
  }

  .open .hamburger {
    transform: rotate(45deg);
  }

  .open .hamburger-top {
    transform: translateY(-5px);
  }

  .open .hamburger-middle {
    transform: translateY(5px);
  }

  .open .hamburger-bottom {
    transform: translateY(15px);
  }

  .footer {
    position: relative;
    padding: 55px 0;
  }

  .footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer ul li {
    margin-right: 20px;
    color: #aaa;
    text-transform: uppercase;
    font-size: clamp(0.5rem, 1vw, 1rem);
    line-height: 2.5;
  }

  .footer ul li a {
    color: #fff;
    transition: color 0.5s;
  }

  .footer ul li a:hover {
    color: #aaa;
  }

  .overlay-show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 3;
  }

  .no-scroll {
    overflow: hidden;
  }

  @media (min-width: 768px) {
    .hamburger {
      display: none;
    }
    #navigation {
      display: block;
    }
  }

  @media (max-width: 960px) {
    .mobile-only {
      display: block;
    }
  }
  @media (max-width: 600px) {
    .main-menu ul li {
      margin-right: 10px;
    }
  }
</style>
